@charset "utf-8";
/* CSS Document */

@media (max-width: 1024px) {
}
@media (max-width: 980px) {
}
@media (max-width: 800px) {
}
@media (max-width: 768px) {
	
}
@media (max-width: 736px) {
	.property_add_edit_form .box-body .form-group { margin-bottom:0px;}
	.property_add_edit_form .box-body .form-group .col-sm-6.col-xs-12.col-md-6{ padding:0px 15px 10px;}
	.property_add_edit_form .box-body .form-group label.check_box_label { padding-top: 10px;}

}

@media (max-width: 667px) {
		
}
@media (max-width: 640px) {
}

@media (max-width: 600px) {
}
@media (max-width: 568px) {
} 	

@media (max-width: 536px) {
}
@media (max-width: 480px) {
}
@media (max-width: 414px) {
	
}
@media (max-width: 384px) {
 }
 

@media (max-width: 360px) {
	
}

@media (max-width: 320px) {
}

	
	
